
.pcom-guide-homepage .pcom-subject-disclosure-container {
	line-height: 1.75;
	font-size: 1rem;	
	margin-bottom: 0.375em
}

.pcom-guide-homepage .pcom-subject-disclosure-container + .pcom-subject-disclosure-container {
	margin-top: 0.375em
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 {
	background-color: var(--pcom-blue);
	border-radius: var(--pcom-border-radius);
	margin: 0;
	padding: 0.625em 1em;
	font-size: inherit;
	line-height: inherit;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	border: solid 3px var(--pcom-dark-blue);
	margin-bottom: -3px;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3.open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 button {
	background: transparent;
	padding: 0;
	border: 0;
	color: #fff;
	font-size: inherit;
	line-height: inherit;
	width: 100%;
	text-align: left;
	align-self: center;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 button:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--pcom-border-radius);
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3:hover {
	background: var(--pcom-yellow);
	border-bottom-color: var(--pcom-dark-blue);
}
.pcom-guide-homepage .pcom-subject-disclosure-container h3:hover button {
	color: var(--pcom-text);
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 button:focus {
	outline: none;
}
.pcom-guide-homepage .pcom-subject-disclosure-container h3 button:focus:after {
	outline: solid 2px currentColor;
	outline-offset: -5px;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 button + span {
	color: #fff;
	background: var(--pcom-dark-blue) ;
	border-radius: 4px;
	line-height: 1;
	padding: 0.5em;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3 + .pcom-collapsing-panel {
	display: none;
}

.pcom-guide-homepage .pcom-subject-disclosure-container h3.open + .pcom-collapsing-panel {
	display: block;
}

.pcom-guide-homepage .pcom-collapsing-panel {
	border: solid 3px var(--pcom-dark-blue);
	border-bottom-left-radius: var(--pcom-border-radius);
	border-bottom-right-radius: var(--pcom-border-radius);
}

.pcom-guide-homepage .pcom-subject-disclosure-container ul.s-lg-guide-list {
	padding-left: 15px;
}

/* hide the guide tooltip */
.pcom-guide-homepage .pcom-subject-disclosure-container .s-ui-helptip {
	display: none;
}

.pcom-guide-homepage .pcom-subject-disclosure-container .pcom-collapsing-panel .alert-info {
	background: var(--pcom-cool-gray);
	color: var(--pcom-text);
	border-color: var(--pcom-text);
	border-width: 2px;
	border-radius: var(--pcom-border-radius);
}
.pcom-guide-homepage .pcom-subject-disclosure-container .pcom-collapsing-panel .alert-info a {
	display: inline-block;
	word-break: break-all;
}

.pcom-guide-homepage .pcom-subject-disclosure-container .s-lg-gtitle a.bold {
	font-weight: 400;
}

/* remove extra whitespace at the top of the custom pages */
#pcom-program-section h2,
#pcom-subject-section h2 {
	margin-top: 0;
}

/************
 QUICK LINKS
*************/
.pcom-guide-homepage #pcom-quick-links {
	margin-left: 0;
	margin-right: 0;
}

.pcom-guide-homepage #pcom-quick-links .s-lib-box {
	border-radius: 0;
	border: 0;
}
.pcom-guide-homepage #pcom-quick-links .s-lib-box h2 {
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 .25rem;
	color: var(--pcom-text);
	background: transparent;
	font-size: 1.375rem;
	font-weight: 700;
	border-bottom: solid 3px var(--pcom-dark-gray);
}
.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content {
	padding: .5rem 0 0;
}

.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content ul {
	list-style: none;
	columns: 2;
	padding: 0;
	break-inside: avoid-column;
	margin: 0;
}

@media only screen and (min-width: 50rem) {
	.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content ul {
		columns: 3;
	}
}

.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content ul li {
	display: block;
	margin: 0 .5rem .25rem .5rem;
	break-inside: avoid;
	position: relative;
	padding-left: .75em;
}
.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content ul li:before {
	content: '\f0c8';
	font-family: FontAwesome;
	font-size: .5em;
	position: absolute;
	top: .5rem;
	left: 0;
	color: var(--pcom-dark-red);
}

.pcom-guide-homepage #pcom-quick-links .s-lib-box .s-lib-box-content ul li a {
	display: inline-block;
}
