/********
 GENERAL 
 ********/

* {	box-sizing: border-box; }

:root {
	--pcom-yellow: #fcaf16;
	--pcom-blue: #00448d;
	--pcom-red: #fb2d37;
	--pcom-dark-blue: #1a203a;
	--pcom-dark-red: #a20a3a;
	--pcom-cyan: #00e4e1;
	--pcom-cool-gray: #edf6f5;
	--pcom-white: #fff;
	--pcom-text: #111;
	--pcom-body-padding: 0.625em;
	--pcom-border-radius: 6px;
	--pcom-dark-gray: #666;
	--pcom-light-gray: #ddd;
	--pcom-sidebar-min-width: 300px;
}

html {
	font-size: 100% !important; /* fix font a11y issue */
	height: 100%;
}

input::placeholder {
	color: var(--pcom-dark-gray) !important;
	opacity: 1;
}

body {
	height: 100%;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	margin: 0;
	min-width: 350px;
	font-size: 100% !important;
	padding-left: 0;
	padding-right: 0;
	/* push footer to the bottom */
	display: flex;
	flex-direction: column;
	color: var(--pcom-text);
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

a { 
	text-decoration: underline;
	color: var(--pcom-blue)
}

a:focus {
	outline: solid 2px currentColor;
	outline-offset: 3px !important;
	border-radius: 1px;
}
a:hover {
	text-decoration: none;
}


.pcom input:focus, 
.pcom select:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}

.pcom input:hover,
.pcom select:hover {
	box-shadow: 0px 0px 1px 1px rgba(0,68,141,0.5) inset;
}


/****************
 BOOTSTRAP FIXES
*****************/
.btn {
	font-size: .875rem;
}
.container {
	width: 90%;
}

input::placeholder,
.form-control::placeholder {
	color: var(--pcom-dark-gray) !important;;
}
.form-control {
	color: var(--pcom-text);
	border-radius: var(--pcom-border-radius);
}

/*******************
 SCREEN READER ONLY 
 *******************/
.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/**********
 SKIP LINK 
 **********/
#s-lg-public-skiplink {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	border-radius: 0;
	border-bottom: 0;
	border-right: 0;
}
#s-lg-public-skiplink:focus {
	/* undo hiding */
	clip: auto;
	clip-path: none;
	height: auto;
	width: auto;
	left: 0.5em;
	top: 0.5em;
	text-decoration: none;
	z-index: 10000;
	padding: 1rem 0.75rem;
	background: var(--pcom-dark-red);
	color: var(--pcom-white);
	line-height: 1;
	outline: solid 2px currentColor;
	outline-offset: -6px !important;
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
}

/*******************
 PCOM CUSTOM HEADER
 *******************/
#pcom-header {
	background-color: var(--pcom-dark-blue);
	padding: var(--pcom-body-padding);
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
}
#pcom-header a:focus,
#pcom-header button:focus {
	outline: solid 2px var(--pcom-white);
}


#pcom-logo, #pcom-logo a {
	display: inline-block;
	text-decoration: none;
	color: var(--pcom-white);
	font-size: 0.875rem;
}
#pcom-logo a div {
	line-height: 1;
	padding-top: 0.375rem;
	text-align: center;
}
#pcom-logo a:focus {
	outline-offset: 3px !important;
}

#pcom-nav {
	z-index: 1001;
}

#pcom-nav-toggle {
	font-size: 1.375rem;
	line-height: 1;
	background: var(--pcom-blue);
	color: var(--pcom-white);
	border: solid 2px var(--pcom-dark-blue);
	padding: 0.5rem;
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
}
#pcom-nav-toggle[aria-expanded="true"] {
	color: var(--pcom-blue);
	background: var(--pcom-white);
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6) inset;
}

#pcom-nav-toggle:hover {
	background: var(--pcom-white);
	color: var(--pcom-blue);
}
#pcom-nav-toggle:focus {
	outline-offset: -3px;
}

#pcom-nav-toggle span {
	pointer-events: none;
}

#pcom-nav-toggle[aria-expanded="false"] + nav {
	display: none;
}
#pcom-nav-toggle[aria-expanded="true"] + nav {
	display: block;
	position: absolute;
	left: var(--pcom-body-padding);
	right: var(--pcom-body-padding);
	top: calc(100% - var(--pcom-body-padding) - 1px);
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
}
#pcom-nav > ul {
	margin: 0;
	padding: 0.125rem 0 0;
	list-style: none;
}

#pcom-nav > ul > li {
	color: var(--pcom-white);
	background: var(--pcom-blue);
}
#pcom-nav > ul > li > a, 
#pcom-nav > ul > li > button {
	display: block;
	width: 100%;
	text-align: left;
	background: transparent;
	color: currentColor;
	border: 0;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1;
	padding: 0.75rem 0.75rem;
}

#pcom-nav > ul > li > a:hover,
#pcom-nav > ul > li > button:hover {
	background: var(--pcom-white) !important;
	color: var(--pcom-blue) !important;
}
#pcom-nav > ul > li > a:focus,
#pcom-nav > ul > li > button:focus {
	outline: 2px solid currentColor;
	outline-offset: -4px !important;
}

#pcom-nav > ul > li > button[aria-expanded="true"]	{
	background: var(--pcom-blue);
}
#pcom-nav > ul > li > button[aria-expanded="false"] + ul {
	display: none;
}
#pcom-nav > ul > li > button[aria-expanded="true"] + ul {
	display: block;
}

#pcom-nav > ul > li > button:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.25rem;
	vertical-align: middle;
	border-top: 0.375rem	solid;
	border-bottom: 0;
	border-right: 0.375rem solid transparent;
	border-left: 0.375rem solid transparent;
}
#pcom-nav > ul > li > button[aria-expanded="true"]:after {
	border-bottom: 0.375rem solid;
	border-top: 0;
}

#pcom-nav > ul > li > button + ul {
	list-style: none;
	padding-left: 1.5rem;
	
}

#pcom-nav > ul > li > button + ul li a {
	display: block;
	color: currentColor;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1;
	padding: 0.75rem 0.75rem;	
	text-decoration: none;		
}

#pcom-nav > ul > li > button + ul li a:hover {
	background: var(--pcom-white);
	color: var(--pcom-blue);
}
#pcom-nav > ul > li > button + ul li a:focus {
	outline: 2px solid currentColor;
	outline-offset: -5px !important;
}

@media only screen and (min-width: 62rem) {
	#pcom-nav-toggle {
		display: none;
	}
	#pcom-nav-toggle[aria-expanded="true"] {
		background: transparent;
		box-shadow: none;
	}
	#pcom-nav-toggle[aria-expanded="false"] + nav,
	#pcom-nav-toggle[aria-expanded="true"] + nav {
		display: block;
		position: static;
		border: none;
		box-shadow: none;
	}
	
	#pcom-nav > ul {
		position: relative;		
		padding: 0;
	}
	#pcom-nav > ul > li {			
		display: inline-block;
		position: relative;
		background: transparent;
	}

	#pcom-nav > ul > li + li {
	}
	
	#pcom-nav > ul > li > a, 
	#pcom-nav > ul > li > button {
		display: block;
		width: 100%;
		text-align: left;
		background: transparent;
		color: var(--pcom-white);
		border: 0;
		text-decoration: none;
		font-size: 1rem;
		line-height: 1;
		padding: 0.75rem 0.625rem; 
	}
	
	#pcom-nav > ul > li > button + ul {
		position: absolute;
		right: 0;
		top: calc(100% - 1px);
		padding: 0.5em 0;
		margin: 0;
		background: var(--pcom-blue);
		color: var(--pcom-white);
		box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
	}	
	#pcom-nav > ul > li > button + ul li {
		display: block;
	}
	#pcom-nav > ul > li > button + ul li a {
		display: block;
		color: var(--pcom-white);
		white-space: nowrap;
		font-weight: bold;
		padding: 0.625rem 1rem;	
		text-decoration: none;
	}
}

/************
 BREADCRUMBS
*************/
#s-lib-bc .breadcrumb {
	font-size: 0.825rem;
}

.breadcrumb > li + li::before {
	color: var(--pcom-dark-gray);
}
#s-lib-bc .breadcrumb > .active {
	color: var(--pcom-text);
}

/*******
 FOOTER
********/
footer#page-footer {

}

/*******************
 SPRINGSHARE FOOTER
********************/
.s-lib-footer {
	font-size: 0.875rem;
}
#s-lib-footer-public {
	background: var(--pcom-cool-gray);
	width: 100%;
	padding: var(--pcom-body-padding);	
	border-top: solid 2px var(--pcom-dark-blue);
	position: relative;
}
#s-lib-footer-public a {
	color: var(--pcom-blue);
}

#s-lib-footer-public > div:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
#s-lib-footer-brand, 
#s-lib-footer-login-link, 
#s-lib-footer-privacy, 
#s-lib-footer-rights, 
#s-lib-footer-support-link {
	display: block;
	white-space: nowrap;
	text-align: left;
}

#s-lib-footer-brand {
	grid-row: 1;
	grid-column: 1;
}
#s-lib-footer-rights {
	grid-row: 2;
	grid-column: 1;
}	
#s-lib-footer-login-link {
	grid-row: 1;
	grid-column: 2;
	text-align: right;
}

#s-lib-footer-support-link { 
	position: absolute;
	bottom: var(--pcom-body-padding);
	right: var(--pcom-body-padding);
}

/*******************
 PCOM CUSTOM FOOTER 
 *******************/
#pcom-footer {
	background-color: var(--pcom-dark-blue);
	padding: var(--pcom-body-padding);
	position: relative;
	text-align: center;
}

#pcom-footer a.footer-brand {
	display: inline-block;
}
#pcom-footer a.footer-brand:focus {
	outline-offset: 2px;
}

#pcom-footer a {
	color: var(--pcom-white);
}
#pcom-footer a:focus {
	outline: solid 2px currentColor;
	outline-offset: 4px !important;
}

#pcom-footer a.footer-brand img {
	width: 150px;
}

#pcom-footer ul#footer-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0;
}

#pcom-footer ul#footer-nav li {
	display: inline-block;
	padding: 0 0.5rem;
	line-height: 1.75;
}

#pcom-footer ul#footer-nav li a {
	display: inline-block;
	padding: 0.125rem 0;
	color: var(--pcom-white);
	text-decoration: none;
	line-height: normal;
}
#pcom-footer ul#footer-nav li a:hover {
	text-decoration: underline;
}
#pcom-footer ul#footer-nav li a:focus {
	outline-offset: 4px;
}

#pcom-footer-social-menu {
	text-align: center;
	margin-top: 1rem;
}
#pcom-footer-social-menu ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0
	text-align: center;
}
#pcom-footer-social-menu ul li {
	display: inline-block;
}
#pcom-footer-social-menu ul li + li {
	margin-left: 0.25rem;
}
#pcom-footer-social-menu a {
	display: block;
	text-align: center;
	text-decoration: none;
}
#pcom-footer-social-menu a.facebook {
	background-color: var(--pcom-blue);
}
#pcom-footer-social-menu a.youtube {
	background-color: var(--pcom-dark-red);
}
#pcom-footer-social-menu a.mail {
	background-color: var(--pcom-yellow);
}
#pcom-footer-social-menu a {
	text-align: center;
	height: 2.375rem;
	width: 2.375rem;
	line-height: 2.375rem;
	border-radius: 50%;
	display: block;
	border: solid 2px transparent;
}
#pcom-footer-social-menu a:hover {
	border-color: var(--pcom-white);
}
#pcom-footer-social-menu a:focus {
	outline-offset: 2px;
}
	
#pcom-footer-social-menu a.mail .fa {
	position: relative;
	top: -2px;
	left: 0.5px;
	color: #000;
}
#pcom-footer-social-menu a.youtube .fa {
	position: relative;
	top: -1.5px;
}

@media only screen and (min-width: 60rem) {
	#pcom-footer {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		display: flex;
	}
	
	
	/* left-align the PCOM nav links */
	#pcom-footer ul#footer-nav li:first-child {
		padding-left: 0;
	}
	#pcom-footer ul#footer-nav li:last-child {
		padding-right: 0;
	}
}

/* HOMEPAGE */
.pcom-guide-homepage #col2 {
	margin-top: 50px;
}
/* Adjust column ratios for homepage only - 2022-08-31 */
@media (min-width: 992px) {
	.pcom-guide-homepage #col1 {
		width: 75%;
	}
	.pcom-guide-homepage #col2 {
		width: 25%; 
		font-size: .875rem;
		margin-top: 0;
	}	
}
/* Ensure some padding when the screen gets small enough */
@media (max-width: 768px) {
	.s-lib-side-borders {
		padding-left: var(--pcom-body-padding);
		padding-right: var(--pcom-body-padding);
	}
}

/* branding */
#s-lg-guide-header-info h1, 
.s-lib-header h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

.pcom-guide-homepage #col1 h2 {
	color: var(--pcom-text);
	font-size: 1.375rem;
	padding-bottom: 0.25rem;
	margin-left: 15px;
	margin-right: 15px;
}

.pcom-guide-homepage h2 {
	font-weight: 700;
	border-bottom: solid 3px var(--pcom-dark-gray);
	padding-bottom: 0.125rem;
}

.pcom-guide-homepage #col1 #s-lg-guide-list-controls h2 {
	margin-left: 0;
	margin-right: 0;
}

.pcom-guide-homepage .s-lib-public-side-header h2 {
	color: var(--pcom-text);
	font-size: 1.125rem;
}

/* hide sort controls */
.pcom-guide-homepage #form-group-s-lg-guide-order {
	display: none !important;
}
/* hide individual guide tooltips */
.pcom-guide-homepage .s-ui-helptip {
	display: none;
}

.pcom-guide-homepage #s-lg-guide-list-controls .pull-left {
	float: none !important;
}

.pcom-guide-homepage #s-lg-hp-nav {
	background: transparent;
}
.pcom-guide-homepage #s-lg-hp-nav li:first-of-type {
	background-color: var(--pcom-dark-blue);
	border-top-left-radius: var(--pcom-border-radius);
	border-top-right-radius: var(--pcom-border-radius);
	
}
.pcom-guide-homepage #s-lg-hp-nav #s-lg-hp-nav-bottom {
	background-color: var(--pcom-light-gray);
	border-bottom-left-radius: var(--pcom-border-radius);
	border-bottom-right-radius: var(--pcom-border-radius);
}

.pcom-guide-homepage #s-lg-hp-nav .s-lg-index-nav-btn + .s-lg-index-nav-btn {
	margin-left: 0.5rem;
}
.pcom-guide-homepage #s-lg-hp-nav a {
	color: var(--pcom-yellow);
	border-width: 0;
	text-decoration: none;
	font-weight: 700;
}
.pcom-guide-homepage #s-lg-hp-nav .active a {
	background: var(--pcom-yellow) !important;
	color: var(--pcom-text);
}

.pcom-guide-homepage #s-lg-hp-nav a:hover {
	background: var(--pcom-blue) !important;
	color: var(--pcom-white);
}

.pcom-guide-homepage #s-lg-hp-nav a:focus {
	background: transparent;
}
.pcom-guide-homepage #s-lg-hp-nav a:focus,
.pcom-guide-homepage #s-lg-hp-nav .active a:focus {
	border-radius: var(--pcom-border-radius);
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}


/* All guides page */
.pcom-guide-homepage .s-lib-box-idx-guide-list {
	border-radius: var(--pcom-border-radius);
	background: var(--pcom-blue);
	border: 0;
	position: relative;
}
.pcom-guide-homepage .s-lib-box-idx-guide-list:hover {
	background: var(--pcom-yellow);
}

.pcom-guide-homepage .s-lib-box-idx-guide-list a:focus {
	outline: none;
}
.pcom-guide-homepage .s-lib-box-idx-guide-list a:focus:after {
	outline: solid 2px currentColor;
	outline-offset: -5px;
}
.pcom-guide-homepage .s-lib-box-idx-guide-list a {
	text-decoration: none;
	border-radius: inherit;
	display: block;
	color: var(--pcom-white);
	font-weight: normal;
}
.pcom-guide-homepage .s-lib-box-idx-guide-list a:hover {
	color: var(--pcom-text);
}
.pcom-guide-homepage .s-lib-box-idx-guide-list a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--pcom-border-radius);
}


.pcom-guide-homepage #s-lg-index-list-guides .col-md-6 div + div {
	margin-top: 0.375rem;
}

.pcom-guide-homepage #col2 a.btn {
	text-decoration: none;
	background: var(--pcom-yellow);
	margin: 0.5em auto 0;
	display: block;
	width: fit-content;
	border: solid 2px var(--pcom-text);
	border-radius: var(--pcom-border-radius);
	padding: 0.5em 0.75em;
	color: var(--pcom-text);
	font-weight: 700;
	font-size: 1rem;
}
.pcom-guide-homepage #col2 a.btn:hover {
	background: var(--pcom-blue);
	color: var(--pcom-white);
}
.pcom-guide-homepage #col2 a.btn:focus {
	outline: solid 2px currentColor;
	outline-offset: -6px !important;
}

/* icon fix - 2022-09-09 */
.s-lg-az-result-badges img[alt="Open Access"] {
	max-width: none;
	position: relative;
	top: 2px;
}


/************
 chat widget 
 ************/
.lcs_slide_out {
	background-color: rgb(249, 249, 249);
	border: 1px solid #ccc;
	z-index: 10000 !important;
}
.lcs_slide_out header a {
	text-decoration: none;
	color: var(--pcom-white) !important;
	background-color: var(--pcom-dark-red) !important;
	box-shadow: 0.25rem -0.25rem 0.375rem rgba(0, 0, 0, 0.6) !important; 
	border: 0 !important;
	padding: .625em 1em !important;
	text-transform: uppercase;
	text-decoration: none !important;
	font-weight: bold;
	border-radius: 0 0 var(--pcom-border-radius) var(--pcom-border-radius);
}

.lcs_slide_out-r header a:focus {
	outline-offset: -6px !important;
	border-radius: var(--pcom-border-radius);
}
.lcs_slide_out header a:hover {
	background-color: var(--pcom-yellow) !important;
	color: var(--pcom-text) !important;
}

.lcs_slide_out header a:after {
	font: normal normal normal 1.25rem/1 FontAwesome;
	content: ' \f086';
	display: inline-block;
	margin-left: 0.3125em;
}
.lcs_slide_out-r {
	top: 114px !important;
}

/* guides footer */
#pcom-guide-info {
	border-top: solid 2px var(--pcom-dark-blue);
	padding: var(--pcom-body-padding) 0;
}
#pcom-guide-info > div.container {
	padding: 0;
}
#pcom-guide-info * {
	font-size: 0.875rem;
}
#pcom-guide-meta {
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
	text-align: left;
}
@media (min-width: 992px) {
	#pcom-guide-meta {
	 display: flex;
	 justify-content: space-between;
	}
	#pcom-guide-meta:before,
	#pcom-guide-meta:after {
		display: none;
	}
}
#pcom-guide-meta > div {
	display: flex;
}
#s-lg-guide-header-meta {
	padding: 0;
}
#s-lg-guide-header-subjects,
#s-lg-guide-header-tags {
	display: flex;
}
#pcom-guide-meta > div > span:first-of-type,
#s-lg-guide-header-subjects > span:first-of-type,
#s-lg-guide-header-tags > span:first-of-type {
	margin-right: 0.5em;
}
#pcom-guide-info .s-lg-text-greyout {
	color: var(--pcom-dark-gray);
}
#pcom-guide-info .bold a {
	font-weight: 400;
	white-space: nowrap;
}


/*******
 SEARCH
********/
#pcom-search-guides {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: stretch;
	align-items: stretch;
}

#pcom-search-guides > * {
	display: block;
	font-size: 1rem;
	padding: .375em .75em;
	margin: 0;
	line-height: 1.5;
	border: solid 2px transparent;
	border-radius: 0;
	box-shadow: none;
	color: var(--pcom-text);
}
@media only screen and (max-width: 30rem) {
	#pcom-search-guides > * {
		font-size: .875rem;
	}
}
#pcom-search-guides input {
	border-color: var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
}
#pcom-search-guides input::placeholder {
	color: var(--pcom-dark-gray);
	opacity: 1
}
#pcom-search-guides input:focus {
	outline: solid 2px var(--pcom-blue);
	outline-offset: -5px;
}
#pcom-search-guides button {
	border-color: var(--pcom-dark-blue);
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
	background: var(--pcom-blue);
	color: var(--pcom-white);
	margin-left: -2px;
}
#pcom-search-guides button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}

#pcom-search-guides button:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}

/* Guide Page */
#s-lg-guide-header-info h1, 
.s-lib-header h1 {
	font-weight: 700;
}

#s-lg-tabs-container .nav-pills > li > a {
		border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius);
	text-decoration: none;
	padding: 0.375em .75em;
	font-size: 1rem;
	font-weight: 400;
}

#s-lg-tabs-container .nav-pills > .active > a {
	background: var(--pcom-cyan);
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius);
	color: var(--pcom-text);
	font-weight: 400;	
}

#s-lg-tabs-container .nav-pills > li > a:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}

#s-lg-tabs-container .nav-pills > li > a:hover,
#s-lg-tabs-container .nav-pills > li.active > a:hover {
	outline: none;
	border: solid 2px var(--pcom-dark-blue);
	background: var(--pcom-yellow);
	color: var(--pcom-text);
	font-weight: 400;
}

#s-lg-tabs-container .nav-pills > li > .s-lg-boxnav li {
	padding: 0;
  border: 0;
	margin: .125rem 0;
}

#s-lg-tabs-container .nav-pills > li > .s-lg-boxnav a {
	display: block;
	border: solid 2px var(--pcom-dark-blue);
  border-radius: var(--pcom-border-radius);
	background: var(--pcom-light-gray);
	text-decoration: none;
	padding: 0.375em .75em;
	font-size: 1rem;
	font-weight: 400;
	color: var(--pcom-text);
}
#s-lg-tabs-container .nav-pills > li > .s-lg-boxnav a:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
#s-lg-tabs-container .nav-pills > li > .s-lg-boxnav a:hover {
	outline: none;
	border: solid 2px var(--pcom-dark-blue);
	background: var(--pcom-yellow);
	color: var(--pcom-text);
	font-weight: 400;
}

.s-lib-box {
	border-radius: var(--pcom-border-radius);
	border-color: var(--pcom-dark-blue);
	border-width: 2px;
	box-shadow: none;
}

.s-lib-box .s-lib-box-title {
	background: var(--pcom-dark-blue);
	font-size: 1rem;
	border-bottom: 1px solid var(--pcom-dark-blue);
	border-radius: 0;
	font-weight: 400;
}

#s-lg-guide-search-form > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: stretch;
	align-items: stretch;
}

#s-lg-guide-search-form > div > * {
	display: block;
}

#s-lg-guide-search-form .input-group-btn {
	width: auto;
}

#s-lg-guide-search-form input,
#s-lg-guide-search-form button {
	display: block;
	font-size: .875rem;
	padding: .375em .75em;
	margin: 0;
	line-height: 1.5;
	border: solid 2px var(--pcom-dark-blue);
	border-radius: 0;
	box-shadow: none;
	color: var(--pcom-text);
	height: auto;
}
#s-lg-guide-search-form input {
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
}
#s-lg-guide-search-form input:focus {
	outline: solid 2px var(--pcom-blue);
	outline-offset: -5px;
}
#s-lg-guide-search-form button {
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
	margin-left: -2px;
	color: var(--pcom-white);
	background: var(--pcom-blue)
}
#s-lg-guide-search-form button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
#s-lg-guide-search-form button:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}

#s-lg-guide-main:focus {
	outline: none;
}

@media (min-width: 992px) {
	.pcom-guide .col-md-3 {
		width: 25%;
		min-width: var(--pcom-sidebar-min-width);
		padding-right: 0;
	}
	.pcom-guide .col-md-9 {
		width: min(75%, 100% - var(--pcom-sidebar-min-width));
		padding-right: 1.25rem;
	}
}
.nav-stacked > li + li {
	margin-top: .1275rem;
}
.s-lg-tabs-side .nav {
	margin-bottom: 1.25rem;
}


/*************
 PROFILE PAGE
**************/

.pcom-profile #s-lib-public-header-desc > div {
	display: none;
}
.pcom-profile h1#s-lib-public-header-title,
.pcom-profile #s-lib-public-header-desc,
.pcom-profile	#s-lib-public-header-desc #s-lib-public-header-desc-pronouns {
	display: inline-block;
}
.pcom-profile #s-lib-public-header-desc-pronouns {
	font-size: 1.5rem;
}
.pcom-profile #s-lib-public-header-desc-pronouns:before {
	content: '(';
}
.pcom-profile #s-lib-public-header-desc-pronouns:after {
	content: ')';
}

.s-lib-profile-image img {
	max-width: 200px;
	border: 0;
	padding: 0;
}

.s-lib-profile-email a {
	background: var(--pcom-blue);
	color: var(--pcom-white);
	text-decoration: none;
	border: 0 !important;
	border-radius: var(--pcom-border-radius) !important;
}
.s-lib-profile-email a.label-info[href]:focus {
	background: var(--pcom-blue);
	color: var(--pcom-white);
	outline: solid 2px currentColor;
	outline-offset: -4px !important;
}
.s-lib-profile-email a.label-info[href]:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}
.s-lib-profile-social a {
	display: inline-flex;
	text-decoration: none;
}
.s-lib-profile-social a + a {
	margin-left: 0.5em
}

.pcom-profile #col1 {
	margin-bottom: 50px;
}

.pcom-profile .s-lg-profile-personal-statement {
	border: 0;
	background: transparent;
	padding: 0;
}
.pcom-profile .s-lg-profile-personal-statement br {
	display: none;
}

.pcom-profile .s-lib-public-side-header h2,
.pcom-profile .s-lg-profile-personal-statement h2 {
	color: var(--pcom-text);
	font-size: 1.125rem;
	border-bottom: solid 3px var(--pcom-dark-gray);
	padding-bottom: 0.125rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: .125rem;
}

.pcom-profile div.s-ui-helptip {
	display: none;
}

.pcom-profile .s-lib-box {
	background: var(--pcom-blue);
	color: var(--pcom-white);
	padding: 0.625em 1em;
	border: 0;
	border-radius: var(--pcom-border-radius);
	margin-bottom: .25rem;
}
.pcom-profile .s-lib-box-content {
	padding: 0;
	display: flex;
	justify-content: space-between; 
}

.pcom-profile .s-lib-box-content a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
	display: block;
}
.pcom-profile .s-lib-box-content a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--pcom-border-radius);
}
.pcom-profile .s-lib-box-content a:focus {
	outline: none;
}
.pcom-profile .s-lib-box:focus-within {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
.pcom-profile .s-lib-box:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}

.pcom-profile .s-lib-color-lt-grey{
	color: inherit;
}
.pcom-profile .s-lg-gmeta,
.pcom-profile .s-lg-gmeta span {
	line-height: inherit;
	font-size: inherit;
}
.pcom-profile .s-lg-gmeta span:first-of-type + span + span {
	color: #fff;
	background: var(--pcom-dark-blue);
	border-radius: 4px;
	line-height: 1;
	padding: 0.25em 0.5em;
	z-index: 100;
	line-height: 1.75;
	position: relative;
	pointer-events: none;
	white-space: nowrap;
}

.pcom-profile .s-lg-gmeta span:first-of-type,
.pcom-profile .s-lg-gmeta span:first-of-type + span {
	display: none;
}

.pcom-profile #col3 a {
	font-size: 1rem !important;
	margin-bottom: .25em;
}

.pcom-profile #s-lg-profile-results .s-lib-featured-profile-image {
	width: auto;
	height: auto;
	text-align: center;
	overflow: initial;
}

.pcom-profile #s-lg-profile-results .s-lib-featured-profile-image img {
	max-width: 120px;
}


/*************
 SUBJECT PAGE
**************/

.pcom-subject-page #s-lib-public-header-2 {
	margin-bottom: 5px;
}
.pcom-subject-page #s-lib-public-header-desc {
	display: none;
}

.pcom-subject-page #s-lg-sb-count,
.pcom-subject-page #s-lg-sb-nav-1 label {
	display: none;
}

.pcom-subject-page #pcom-search-bar-desc {
	background-color: var(--pcom-dark-blue);
	color: var(--pcom-white);
	border-top-left-radius: var(--pcom-border-radius);
	border-top-right-radius: var(--pcom-border-radius);
	padding: 10px;
}

.pcom-subject-page #sb-search-col-1 .navbar-toggle {
	display: none;
}
.pcom-subject-page #sb-search-col-1 .navbar-collapse.collapse {
	border: 0;
	box-shadow: none;
	margin: 0;
	display: block;
}


.pcom-subject-page #sb-search-col-1 nav {
	background: var(--pcom-light-gray);
	border: 0;
	border-radius: 0;
	border-bottom-left-radius: var(--pcom-border-radius);
	border-bottom-right-radius: var(--pcom-border-radius);
	padding: 10px;
}

.pcom-subject-page #sb-search-col-1 nav .container-fluid {
	padding: 0;
}

.pcom-subject-page #s-lg-sb-search-bar {
	font-size: inherit;
	line-height: inherit;
}


.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-label {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.pcom-subject-page #s-lg-sb-nav-1 {
	padding: 0;
}

.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form {
	margin: 0 !important;
	border: 0;
	box-shadow: none;
	padding: 0;
}

.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form .form-group {
	display: flex;
	margin: 0 !important;
}

.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form .col-md-10,
.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form .col-md-10 + div {
	padding: 0;
	width: auto;
}

.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form select {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius) 0 0	var(--pcom-border-radius);
	height: 2.25rem;
}
.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form select:focus {
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
}
.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form button {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
	background: var(--pcom-blue);
	height: 2.25rem;
	margin-left: -2px;
}
.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form button:hover {
	background: var(--pcom-yellow) !important;
	color: var(--pcom-text);
}
.pcom-subject-page #sb-search-col-1 nav #s-lg-sb-nav-1 .navbar-form button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
}

.pcom-subject-page .s-lg-gtitle	i.fa {
	display: none;
}

.pcom-subject-page .s-lib-box {
	background: var(--pcom-blue);
	color: var(--pcom-white);
	padding: 0.625em 1em;
	border: 0;
	border-radius: var(--pcom-border-radius);
	margin-bottom: .25rem;
}

.pcom-subject-page .s-lib-box-content {
	padding: 0;
	display: flex;
	justify-content: space-between; 
}

.pcom-subject-page .s-lib-box-content a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
	display: block;
}
.pcom-subject-page .s-lib-box-content a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--pcom-border-radius);
}

.pcom-subject-page .s-lib-box-content a:focus {
	outline: none;
}
.pcom-subject-page .s-lib-box:focus-within {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
.pcom-subject-page .s-lib-box:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}

.pcom-subject-page .s-lib-color-lt-grey{
	color: inherit;
}
.pcom-subject-page .s-lg-gmeta,
.pcom-subject-page .s-lg-gmeta span {
	line-height: inherit;
	font-size: inherit;
}

.pcom-subject-page .s-lg-gmeta span:first-of-type {
	display: none;
}

.pcom-subject-page .s-lg-gmeta span:first-of-type + span	{
	color: #fff;
	background: var(--pcom-dark-blue);
	border-radius: 4px;
	line-height: 1;
	padding: 0.25em 0.5em;
	z-index: 100;
	line-height: 1.75;
	position: relative;
	pointer-events: none;
	white-space: nowrap;
}

.pcom-subject-page .s-lib-public-side-header h2 {
	color: var(--pcom-text);
	font-size: 1.125rem;
	border-bottom: solid 3px var(--pcom-dark-gray);
	padding-bottom: 0.125rem;
}

.pcom-subject-page form[role="search"] {
	display: flex;
	padding: 0 .625rem;
}
.pcom-subject-page form[role="search"] input {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
	height: 2.25rem;
}
.pcom-subject-page form[role="search"] input:focus {
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
}
.pcom-subject-page form[role="search"] button {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
	background: var(--pcom-blue);
	margin-top: 0 !important;
	height: 2.25rem;
	margin-left: -2px;
}
.pcom-subject-page form[role="search"] button:hover {
	background: var(--pcom-yellow) !important;
	color: var(--pcom-text);
}
.pcom-subject-page form[role="search"] button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
}

.pcom-subject-page #s-lg-sb-experts-div .pad-top-sm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.pcom-subject-page .s-lib-featured-profile-container {
	width: clamp(7.5rem, 33%, 11.25rem);
	margin: .375rem .625rem;
}
.pcom-subject-page .s-lib-featured-profile-image {
	width: auto;
	height: auto;
	text-align: center;
	overflow: initial;
}
.pcom-subject-page .s-lib-featured-profile-image img {
	max-width: 7.5rem;
}

.pcom-subject-page #s-lg-sb-experts-div .s-lib-featured-profile-spacer {
	display: none;
}
/* hide the single profile when there is only one expert */
.pcom-subject-page #s-lg-box-profile-container {
	display: none;
}


/**************
 Profile Image
***************/
.pcom-profile-image img,
.s-lib-profile-image img,
.s-lib-featured-profile-image img {
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
}

/*******
 SEARCH
********/
.pcom-search #pcom-search-bar-desc {
	background-color: var(--pcom-dark-blue);
	color: var(--pcom-white);
	border-top-left-radius: var(--pcom-border-radius);
	border-top-right-radius: var(--pcom-border-radius);
	padding: 10px;
}
.pcom-search #sb-search-col-1 .navbar-collapse.collapse {
	border: 0;
	box-shadow: none;
	margin: 0;
	display: block;
}
.pcom-search #sb-search-col-1 .navbar-header {
	display: none !important;
}
.pcom-search #sb-search-col-1 nav {
	background: var(--pcom-light-gray);
	border: 0;
	border-radius: 0;
	border-bottom-left-radius: var(--pcom-border-radius);
	border-bottom-right-radius: var(--pcom-border-radius);
	padding: 10px;
}
.pcom-search #sb-search-col-1 nav div.container-fluid {
	padding: 0;
}
.pcom-search #s-lg-srch-nav-1 {
	margin: 0 !important;
	padding: 0 !important;
}
.pcom-search #s-lg-srch-form {
	padding: 0;
	font-size: 1rem;
	width: 100%;
}
.pcom-search #s-lg-srch-form .form-group {
	margin: 0;
	font-size: inherit;
}
.pcom-search #s-lg-srch-form .input-group {
	line-height: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.pcom-search #s-lg-srch-form input {
	flex: 1 1 auto;
	display: block;
	font-size: inherit;
	line-height: inherit;
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius) 0 0 var(--pcom-border-radius);
	float: none;
	width: auto;
	padding: .125em .75em;
	height: auto;
	max-width: 30em;
}
.pcom-search #s-lg-srch-form .input-group-btn {
	display: block;
	font-size: inherit;
	line-height: inherit;
	width: auto;
}
.pcom-search #s-lg-srch-form button {
	display: block;
	font-size: inherit;
	line-height: inherit;
	border: solid 2px var(--pcom-dark-blue);
	border-radius: 0 var(--pcom-border-radius) var(--pcom-border-radius) 0;
	padding: .125em .75em;
	margin-left: -2px;
	background: var(--pcom-blue);
	color: var(--pcom-white);
}
.pcom-search #s-lg-srch-form button:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}
.pcom-search #s-lg-srch-form button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}

.pcom-search h1 {
	display: flex;	
}
.pcom-search h1 div:first-of-type {
	white-space: nowrap;
}
.pcom-search h1 div + div {
	margin-left: 1rem
}

.pcom-search .pcom-tablist {
	margin-top: .5rem;
}
@media only screen and (max-width: 30rem) {
	.pcom-search .pcom-tablist {
		flex-direction: column;
		margin-bottom: 1rem;
	}
	.pcom-search .pcom-tablist .spacer {
		width: 100%;
		height: .0625em;
		border-bottom: 0;
		border-right: solid 2px var(--pcom-dark-blue);
		border-left: solid 2px var(--pcom-dark-blue);
		background: var(--pcom-blue);
	}
	.pcom-search .pcom-tablist .hfill {
		display: none;
	}
	.pcom-search .pcom-tablist button {
		border: solid 2px var(--pcom-dark-blue);
		border-radius: 0;
	}
	.pcom-search .pcom-tablist button:focus {
		border-radius: 0; 
	}
	.pcom-search .pcom-tablist button:first-of-type {
		border-top-left-radius: var(--pcom-border-radius);
		border-top-right-radius: var(--pcom-border-radius);
	}
	.pcom-search .pcom-tablist button:last-of-type {
		border-bottom-left-radius: var(--pcom-border-radius);
		border-bottom-right-radius: var(--pcom-border-radius);
	}
	.pcom-search .pcom-tablist button[aria-selected="true"]:before {
		content: none;
	}
	.pcom-search .pcom-tab-content {
		border-top: solid 2px var(--pcom-dark-blue);
		border-radius: var(--pcom-border-radius);
	}
}


.pcom-search .pcom-tab-content .hidden.active {
	display: block !important;
}

.pcom-search fieldset legend {
	color: var(--pcom-text);
	font-size: 1rem;
	font-weight: 700;
	border-bottom: solid 3px var(--pcom-dark-gray);
}
.pcom-search .s-lg-facet-div-content {
	max-height: 16em;
	margin-top: .5em;
	overflow: auto;
}
.pcom-search .s-lg-facet-div-content label.check {
	position: relative;
	padding-left: 1.75em;
	padding-right: .375em;
	padding-top: .125em;
	padding-bottom: 0.125em;
	margin: 0;
}
.pcom-search .s-lg-facet-div-content label.check + label.check {
	margin-top: 0;
}
.pcom-search .s-lg-facet-div-content label.check input {
	position: absolute;
	left: 0.3725em;
	top: .5em;
	width: 1em;
	height: 1em;
	margin: 0;
}
.pcom-search .s-lg-facet-div-content label.check input:focus {
	outline: 0
}
.pcom-search .s-lg-facet-div-content label.check:focus-within {
	outline: solid 2px currentColor;
	outline-offset: -4px;
}
.pcom-search .pcom-tablist button[aria-selected="true"],
.pcom-search .pcom-tablist button[aria-selected="true"]::before,
.pcom-search .pcom-tab-content {
	background: var(--pcom-white);
}

.pcom-search .s-srch-result {
	font-size: 1rem;
	border-bottom: 0;
}
.pcom-search .s-srch-result-title {
	font-size: 1rem;
	border-bottom: solid 1px var(--pcom-dark-blue);
}
.pcom-search .s-srch-result-title a {
	font-weight: 700;
}
.pcom-search .s-srch-result-title > div {

}
.pcom-search	.s-srch-result-title + .s-srch-result-meta {

}

.pcom-search .s-srch-result-meta > div:first-of-type {


}
.pcom-search .s-srch-result .s-srch-result-subjects {
	font-size: .875rem;
}
.pcom-search .s-srch-result .s-srch-result-author {
	display: none;
}

.pcom-search .s-srch-result .divider {
	display: none;
}
.pcom-search .s-srch-result .s-srch-result-score {
	display: none;
}

.pcom-search .s-srch-result .s-srch-result-highlights {
	padding: 0 3em;
}
.pcom-search .s-srch-result .s-srch-result-highlights mark {
	background: var(--pcom-yellow);
		display: inline-block;
	padding: 0 0.25em;

	
}

.pcom-search .s-srch-result .s-srch-result-url {
	position: relative;
	padding-left: 3.5em;
	font-size: .875rem;
}
.pcom-search .s-srch-result .s-srch-result-url a {
	 word-break: break-all;
}
.pcom-search .s-srch-result .s-srch-result-url:before {
	content: "URL: ";
	font-weight: 700;
	position: absolute;
	left: 0;
}

.pcom-search .s-srch-resultlist .dropdown {
	display: inline-block !important;
	position: relative;
}
.pcom-search .s-srch-resultlist a.dropdown-toggle {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius);
	padding: .5em .75em;
	background: var(--pcom-blue);
	color: var(--pcom-white);
	text-decoration: none;
	font-weight: 500;
	user-select: none;
}

.pcom-search .s-srch-resultlist a.dropdown-toggle:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
.pcom-search .s-srch-resultlist a.dropdown-toggle:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}
.pcom-search .s-srch-resultlist a.dropdown-toggle[aria-expanded="true"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.pcom-search .s-srch-resultlist a.dropdown-toggle[aria-expanded="true"] span.caret {
	transform: rotate(180deg) scaleX(-1);
}

.pcom-search .s-srch-resultlist ul.dropdown-menu {
	min-width: 15px;
	border: solid 2px var(--pcom-dark-blue);
	border-top-right-radius: 0;
	right: 0;
	left: auto;
	float: none;
	font-size: 1rem;
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
}


.pcom-search .pcom-sorter {
	position: relative;
	display: inline-block;
}
.pcom-search .pcom-sorter > button {
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius);
	padding-top: .125em;
	padding-bottom: .125em;
	padding-left: .75em;
	padding-right: .5em;
	background: var(--pcom-blue);
	color: var(--pcom-white);
	text-decoration: none;
	font-weight: 500;
}
.pcom-search .pcom-sorter > button[aria-expanded="true"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.pcom-search .pcom-sorter > button:after {
	font-family: FontAwesome;
	display: inline-block;
	margin-left: .5em
}
.pcom-search .pcom-sorter > button[aria-expanded="false"]:after {
	content: ' \f0d7';
}
.pcom-search .pcom-sorter > button[aria-expanded="true"]:after {
	content: '\f0d8';
}
.pcom-search .pcom-sorter > button:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}
.pcom-search .pcom-sorter > button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
.pcom-search .pcom-sorter > button[aria-expanded="false"] + ul {
	display: none;
}
.pcom-search .pcom-sorter > button[aria-expanded="true"] + ul {
	display: block;
	position: absolute;
	z-index: 10;
	right: 0;
	top: 100%;
	margin: -2px 0 0;
	padding: 0;
	background: var(--pcom-white);
	border: solid 2px var(--pcom-dark-blue);
	border-radius: var(--pcom-border-radius);
	border-top-right-radius: 0;
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(0, 0, 0, 0.6);
	list-style: none;
}
.pcom-search .pcom-sorter ul li + li {
	margin-top: .125em;
}

.pcom-search .pcom-sorter ul li button {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
	padding: .25em .75em;
	text-align: left;
	background: var(--pcom-white);
}
.pcom-search .pcom-sorter ul li button:hover {
	background: var(--pcom-yellow);
}
.pcom-search .pcom-sorter ul li button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}

.pcom-search .pcom-pager ul {
	list-style: none; 
	padding: 0;
}
.pcom-search .pcom-pager ul li {
	display: inline-block;
}
.pcom-search .pcom-pager ul li + li {
	margin-left: -2px;
}
.pcom-search .pcom-pager ul li button {
	font-size: .875rem;
	border-radius: 0;
	border: solid 2px var(--pcom-dark-blue);
	padding: .125em .125em;
	background: var(--pcom-blue);
	color: var(--pcom-white);
	min-width: 2.5rem;
	min-height: 2.5rem;
}
.pcom-search .pcom-pager ul li button:hover {
	background: var(--pcom-yellow);
	color: var(--pcom-text);
}
.pcom-search .pcom-pager ul li button:focus {
	outline: solid 2px currentColor;
	outline-offset: -5px !important;
}
.pcom-search .pcom-pager ul li:first-of-type button {
	border-top-left-radius: var(--pcom-border-radius);
	border-bottom-left-radius: var(--pcom-border-radius);
} 

.pcom-search .pcom-pager ul li:last-of-type button {
	border-top-right-radius: var(--pcom-border-radius);
	border-bottom-right-radius: var(--pcom-border-radius);
} 
.pcom-search .pcom-pager ul li button[aria-current] {
	background: var(--pcom-cool-gray);
	color: var(--pcom-black);
}

.pcom-search .pcom-results-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: baseline;
}
.pcom-search .pcom-results-header .pcom-search-heading {
	margin-right:	2em;
	margin-bottom: 1rem;
}
.pcom-search .pcom-results-header .pcom-sorter {
	margin-bottom: 1rem;
}
.pcom-search .pcom-pager {
	flex: 1 0 auto;
	width: 100%;
	text-align: center;
}

/***********
 SITE ALERT
************/
#pcom-site-alert {
	display: none;
}
#pcom-site-alert .s-lib-box {
	background: var(--pcom-dark-red);
	color: var(--pcom-white);
	margin: 0;
	padding: .5rem 1rem;
	border-radius: 0;
	border: 0;
}
#pcom-site-alert .s-lib-box-content {
	padding: 0;
}
#pcom-site-alert .s-lib-box h2 {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
#pcom-site-alert .s-lib-box a {
	color: var(--pcom-cyan);
}
#pcom-site-alert .s-lib-box p {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}



/************
 QUICK LINKS
*************/
#pcom-quick-links {
	margin-left: 0;
	margin-right: 0;
}

#pcom-quick-links .s-lib-box {
	border-radius: 0;
	border: 0;
}
#pcom-quick-links .s-lib-box h2 {
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 .25rem;
	color: var(--pcom-text);
	background: transparent;
	font-size: 1.375rem;
	font-weight: 700;
	border-bottom: solid 3px var(--pcom-dark-gray);
}
#pcom-quick-links .s-lib-box .s-lib-box-content {
	padding: .5rem 0 0;
}

#pcom-quick-links .s-lib-box .s-lib-box-content ul {
	list-style: none;
	columns: 2;
	padding: 0;
	break-inside: avoid-column;
	margin: 0;
}

@media only screen and (min-width: 50rem) {
	#pcom-quick-links .s-lib-box .s-lib-box-content ul {
		columns: 3;
	}
}

#pcom-quick-links .s-lib-box .s-lib-box-content ul li {
	display: block;
	margin: 0 .5rem .25rem .5rem;
	break-inside: avoid;
	position: relative;
	padding-left: .75em;
}
#pcom-quick-links .s-lib-box .s-lib-box-content ul li:before {
	content: '\f0c8';
	font-family: FontAwesome;
	font-size: .5em;
	position: absolute;
	top: .5rem;
	left: 0;
	color: var(--pcom-dark-red);
}

#pcom-quick-links .s-lib-box .s-lib-box-content ul li a {
	display: inline-block;
}


